.elements__card-like {
  margin: 0 0 6px 0;
  width: 22px;
  height: 19px;
  border: 0;
  padding: 0;
  background-color: transparent;
  background-image: url(./../../../images/cards/card-like.svg);
  align-self: flex-end;
  cursor: pointer;
}

.elements__card-like:hover {
  opacity: 0.5;
}