.elements__card-title {
  margin: 0;
  max-width: calc(246px - 22px - 10px);
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;

  /*? Для появления троеточия */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  
  font-family: 'Inter', Arial, sans-serif;
}