.profile__nickname {
  margin: 0;

  width: fit-content;
  max-width: calc(100% - 0.5px - 18px - 24px);

  font-weight: 500;
  font-size: 42px;
  line-height: 114%; /*? or 48px */

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", Arial, sans-serif;
}

/*? 544 - 1152 */
@media screen and (min-width: 544px) and (max-width: 1152px) {
  .profile__nickname {
    max-width: 280px;
    font-size: 34.5px;
    line-height: 40.5px;
  }
}

/*? 320 - 544 */
@media screen and (min-width: 320px) and (max-width: 544px) {
  .profile__nickname {
    /* max-width: 189px; */
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    /* max-height: 26px; */
  }
}

/*? 320 - 1152 */
@media screen and (min-width: 320px) and (max-width: 1152px) {
  .profile__nickname {
    align-self: center;
    justify-self: center;
  }
}
