.info__link {
  display: block;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  text-align: right;
  align-self: center;
}

@media screen and (min-width: 768px) and (max-width: 1152px) {
  .info__link {
    font-size: 16.7px;
    line-height: 20.35px;
  }
}

@media screen and (min-width: 544px) and (max-width: 768px) {
  .info__link {
    font-size: 15.35px;
    line-height: 18.65px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .info__link {
    font-size: 14px;
    line-height: 17px;
    margin-right: 8.4375%;
  }
}
