.popup__container_bigger {
  padding: 60px 36px;
}

@media screen and (min-width: 768px) and (max-width: 1152px) {
  .popup__container_bigger {
    padding: 57px 30px;
  }
}

@media screen and (min-width: 544px) and (max-width: 768px) {
  .popup__container_bigger {
    padding: 53.5px 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .popup__container_bigger {
    padding: 50px 18px;
  }
}
