.sign__already-registered {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  margin: 15px 0 0;
  justify-self: end;
}

@media screen and (min-width: 768px) and (max-width: 1152px) {
  .sign__already-registered {
    margin-top: 16.7px;
  }
}

@media screen and (min-width: 544px) and (max-width: 768px) {
  .sign__already-registered {
    margin-top: 18.35px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .sign__already-registered {
    margin-top: 20px;
  }
}
