.sign__submit-button {
  min-height: 50px;
  background-color: #fff;
  color: #000;
  border: 0;
  border-radius: 2px;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  margin-top: 216px;
}

@media screen and (min-width: 768px) and (max-width: 1152px) {
  .sign__submit-button {
    min-height: 48.7px;
    font-size: 17.35px;
    line-height: 21px;
    margin-top: 191.65px;
  }
}

@media screen and (min-width: 544px) and (max-width: 768px) {
  .sign__submit-button {
    min-height: 47.35px;
    font-size: 16.65px;
    line-height: 20px;
    margin-top: 167.35px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .sign__submit-button {
    min-height: 46px;
    font-size: 16px;
    line-height: 19px;
    margin-top: 143px;
  }
}
