.popup {
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  font-family: "Inter";

  visibility: hidden;
  opacity: 0;
  transition: visibility 0.35s, opacity 0.35s linear;
}